CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=

AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_ENDPOINT=

# Optional: If you encounter SSL certificate errors when validating JWTs (JWKS fetch),
# set these to a valid CA bundle file path (e.g., from `python -c "import certifi,sys;print(certifi.where())"`).
# SSL_CERT_FILE=/Users/ariannevjestic/repos/github/microsoft/Agents/samples/python/semantic-kernel-multiturn/certs/ssl.roles.botframework.com.pem
REQUESTS_CA_BUNDLE=/Users/ariannevjestic/repos/github/microsoft/Agents/samples/python/semantic-kernel-multiturn/certs/ssl.roles.botframework.com.pem